#logoHeader {
  width: 6em;
  margin-top: 0,2em;
  margin-left: 1.5em;
  padding: 0;
}

.ul{
  margin-left: 0em;
  padding-left: 0em;
}

* {
  font-size: 18px;
}

.menu {
  height: 150px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.nav {
  left: 0;
  margin: 14px auto;
  max-width: 80%;
  position: absolute;
  /*Sirve para darle el tamaño al menu y el posicionamiento*/
  right: 0;
  top: -20px;
  width: 90%;
}

.nav .ul {
  list-style: none;
}

.nav>.ul {
  background-color: #89b4f5;
  /*Le da el fondo al menu*/
  display: table;
  position: relative;
  width: 100%;
}

.nav>.ul .li {
  display: table-cell;
}

/*Sub-menu*/
.nav>.ul>.li:hover>.ul {
  display: block;
  height: 100%;
}

.nav>.ul>.li>.ul {
  background-color: rgb(179, 228, 242);
  /*Le da el fondo al submenu*/
  display: block;
  height: 0%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  transition: all 0.3s ease;
  box-shadow: 0px 2px #000000;
}

.nav>.ul .li .links {
  color: #000000;
  display: block;
  line-height: 20px;
  padding: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 500;
  box-shadow: 0px 2px rgb(179, 228, 242);
}

.nav>.ul>.li>.ul>.li .links:hover {
  background-color: #89b4f5;
  /*Le da el fondo en el submenu cuando se hace el hover */
  box-shadow: 0px 2px #a4f5be;
}

.nav>.ul>.li>.links .span {
  background-color: rgb(179, 228, 242);
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: -55px;
  transition: all 0.3s ease;
  width: 100%;
}

.nav>.ul>.li>.links .span .icon {
  display: block;
  line-height: 60px;
}

.nav>.ul>.li>.links:hover>.span {
  top: 0;
  /*Es el que hace que bajen los iconos al hacerle hover al texto*/
}

/*Colores*/
.nav .ul .li .links .first {
  background-color: rgb(179, 228, 242);
  box-shadow: 0px 2px #a4f5be;
}

.nav .ul .li .links .second {
  background-color: rgb(179, 228, 242);
  box-shadow: 0px 2px #a4f5be;
}

.nav .ul .li .links .third {
  background-color: rgb(179, 228, 242);
  box-shadow: 0px 2px #a4f5be;
}

.nav .ul .li .links .fourth {
  background-color: rgb(179, 228, 242);
  box-shadow: 0px 2px #a4f5be;
}

.nav .ul .li .links .fifth {
  background-color: rgb(179, 228, 242);
  box-shadow: 0px 2px #a4f5be;
}
