<!-- <footer id="footer">
  <div class="row">
    <div class="col-4" style="justify-content: center;">
      <h3 id="subtitulo" class="pr-lg-5">
        Disfruta y comparte tus imágenes favoritas con <br> <b>Photo Net Group</b>
      </h3>
      <img id="logo" src="../../assets/img/logo2.jpeg" alt="Imagen logo PNG">
    </div>
    <div class="col-4" style="text-align: justify;">

      <ul class="footer-cat-links" id="listalinks">
        <li>
          <a routerLink="imagenes/"> <span>Imágenes</span></a>
        </li>
        <li>
          <a routerLink="favoritos/"><span>Favoritos</span></a>
        </li>
        <li>
          <a routerLink="footer/"><span>Contacto</span></a>
        </li>
      </ul>
    </div>
    <div class="col-4" id="newsletter">
      <span>Localización</span> <br> <br>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14464.013727598489!2d-71.00875477187985!3d24.999999343810693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89451ab5034cb7ab%3A0xb600ecf3df7aca4d!2sTri%C3%A1ngulo%20de%20las%20Bermudas!5e0!3m2!1ses!2ses!4v1649150962729!5m2!1ses!2ses"
        width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe> <br> <br>

      <div class="social-links social-2">
        <a href="https://es-es.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-linkedin-in"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
      </div>

      <div>
        <ul>
          <li class=" footer-cat-links">
            <i class="fa fa-location-dot fa-lg "></i>

            <a href="https://goo.gl/maps/x856kFYcXnFvcoCcA" id="direccion">
              &nbsp; Triángulo de las Bermudas, SN
            </a>

          </li>
          <li class=" footer-cat-links">
            <i class="fa fa-phone fa-lg "></i>

            <a href="5550113"> &nbsp; +(34) 555-01-13</a>

          </li>
          <li class=" footer-cat-links">
            <i class="fa fa-envelope-open-o fa-lg  "></i>

            <a href="mailto:photonetgroup@png.com" class=" mail " style="font-size: 17px">
              &nbsp; photonetgroup@png.com
            </a>

          </li>
        </ul>
      </div>
    </div>
    <div class="social-links social-1 col-6">
      <a href="https://es-es.facebook.com/" target="_blank"><i class="fab fa-facebook-f "></i></a>
      <a href="https://es.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://www.instagram.com/?hl=es" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
  <div id="copyright">&copy; Todos los derechos reservados 2021-2022</div>
  <div id="owner">
    <span>
      Diseñado por Photo Net Group
    </span>
  </div>

</footer> -->

<!--  FOOTER START -->

<div class="footer" id="footer">
  <div class="inner-footer">
    <!--  for company name and description -->
    <div class="footer-items">
      <p>Disfruta de tus imágenes favoritas con</p>
      <h1>PhotoNetGroup</h1>
      <img id="logo" src="../../assets/img/logo2.jpeg" alt="Imagen logo PNG" />
    </div>
    <!--  for quick links  -->
    <div class="footer-items">
      <h3>Enlaces Directos</h3>
      <div class="border1"></div>
      <!--for the underline -->
      <ul>
        <li>
          <a routerLink="/home" title="Para ver la página de inicio pincha en este enlace"><span>Home</span></a>
        </li>
        <li>
          <a routerLink="/imagenes" title="Para ver la página donde están todas las imágenes pincha en este enlace"> 
            <span>Imágenes</span></a>
        </li>
        <li>
          <a routerLink="/favoritos"
            title="Para ver la página de tus imágenes favoritas pincha en este enlace"><span>Favoritos</span></a>
        </li>
        <li>
          <a routerLink="/footer"
            title="Para ver la página donde aparece la información de contacto y redes sociales de PNG pincha en este enlace"><span>Contacto</span></a>
        </li>
      </ul>
    </div>

    <!--  for contact us info -->
    <div class="footer-items">
      <h3>Contáctanos</h3>
      <div class="border1"></div>
      <ul>
        <li>
          <a target="_blank" href="https://goo.gl/maps/HDv55WMWYXvciUVd9"
            title="Para ver un mapa con la direccion de las oficinas de PNG pincha en este enlace"><i
              class="fa fa-map-marker" aria-hidden="true"></i> C. Málaga 28003
            Madrid</a>
        </li>
        <li>
          <a href="tel:+34915068918" target="_blank"
            title="Para contactar vía telefónica con PNG pincha en este enlace"><i class="fa fa-phone"
              aria-hidden="true"></i> +(34)915 06 89 18</a>
        </li>
        <li>
          <a target="_blank" href="mailto:photonetgroup@mail.com" class="mail"
            title="Para contactar mediante email con PNG pincha en este enlace"><i class="fa fa-envelope"
              aria-hidden="true"></i>photonetgroup@gmail.com</a>
        </li>
      </ul>
      <!--   for social links -->
      <div class="social-media">
        <a target="_blank" href="https://www.instagram.com/accounts/login/"
          title="Para seguir la cuenta de PNG en Instragram pincha en este enlace"><i class="fab fa-instagram"></i></a>
        <a target="_blank" href="https://es-es.facebook.com/public/Faaceb-Book"
          title="Para seguir la cuenta de PNG en Facebook pincha en este enlace"><i class="fab fa-facebook"></i></a>
        <a target="_blank" href="https://www.linkedin.com/"
          title="Para seguir la cuenta de PNG en Linkedin pincha en este enlace"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">Copyright &copy; PhotoNetGroup 2022.</div>
  <span class="fa fa-arrow-alt-circle-up arribaPag" (click)="goToHeader()"
    title="Para volver a la barra de navegación pincha aquí"></span>
</div>
