<div class="row">
  <div class="card col-4" *ngFor="let imagen of imagenes" style="width: 18rem"> <img mat-card-image
      [src]="imagen.rutaImagen" [alt]="imagen.titulo" />
    <div class="card-body">
      <h3 class="card-title">Titulo</h3>
      <p class="card-text">Categoria:</p>
      <p class="card-text">Likes: </p>
    </div>
  </div>
  <div class="card col-4" *ngFor="let imagen of imagenes" style="width: 18rem"> <img mat-card-image
      [src]="imagen.rutaImagen" [alt]="imagen.titulo" />
    <div class="card-body">
      <h5 class="card-title">Titulo</h5>
      <p class="card-text">Categoria:</p>
      <p class="card-text">Likes: </p>
    </div>
  </div>
  <div class="card col-4" *ngFor="let imagen of imagenes" style="width: 18rem"> <img mat-card-image
      [src]="imagen.rutaImagen" [alt]="imagen.titulo" />
    <div class="card-body">
      <h5 class="card-title">Titulo</h5>
      <p class="card-text">Categoria:</p>
      <p class="card-text">Likes: </p>
    </div>
  </div>
  <div class="card col-4" *ngFor="let imagen of imagenes" style="width: 18rem"> <img mat-card-image
      [src]="imagen.rutaImagen" [alt]="imagen.titulo" />
    <div class="card-body">
      <h5 class="card-title">Titulo</h5>
      <p class="card-text">Categoria:</p>
      <p class="card-text">Likes: </p>
    </div>
  </div>
  <div class="card col-4" *ngFor="let imagen of imagenes" style="width: 18rem"> <img mat-card-image
      [src]="imagen.rutaImagen" [alt]="imagen.titulo" />
    <div class="card-body">
      <h5 class="card-title">Titulo</h5>
      <p class="card-text">Categoria:</p>
      <p class="card-text">Likes: </p>
    </div>
  </div>
</div>
