<app-header (getCategoria)="getImagenes($event)"></app-header>



<!-- CODIFO NUEVO JuAN LUIS-->

<div class="container">
  <div class="col-lg-12">
    <div class="text-center mb-5">
      <h2>Galería de Imágenes</h2>
    </div>

    <div *ngFor="let imagen of imagenes" class="row justify-content-center">
      <mat-card class="card col-lg-4 col-md-6 col-xs-12" *ngIf="imagen.favorito">
        <mat-card-header>
          <mat-card-title>{{imagen.titulo}}</mat-card-title>
          <mat-card-subtitle>{{nombreCategoria}}</mat-card-subtitle>
        </mat-card-header><img mat-card-image class="img-fluid mx-0" [src]="imagen.rutaImagen"
          [alt]="imagen.descripcion">
        <mat-card-content>
          <p>{{imagen.descripcion}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="icono">
            <mat-icon [class.corazon]="imagen.favorito" (click)="setFavorito(imagen)">
              favorite_border
            </mat-icon>
          </button>
          <button mat-button class="icono" (click)="like(imagen)">
            <mat-icon class="fa fa-thumbs-up">
            </mat-icon>{{imagen.contadorLikes}}
          </button>
          <button mat-button class="icono" (click)="eliminarImagenFirebase(imagen)">
            <mat-icon class="fa fa-trash">
            </mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<app-footer></app-footer>
