<!-- <header id="site-header" class="fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg stroke">
      <h1><a class="navbar-brand mr-lg-5" href="index.html">
          Agric<span>farm</span>
        </a></h1>

      <a class="navbar-brand" href="#index.html">
        <img src="assets/images/logo.svg" alt="Your logo" title="Your logo" style="height:35px;" />
      </a>
      <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
        <span class="navbar-toggler-icon fa icon-close fa-times"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">blabla</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html#pie">Contacto</a>
          </li>
          <li class="nav-item">
            <button mat-mini-fab title="Iniciar sesión" class="iniciar-sesion"></button>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</header> -->
<mat-toolbar color="primary"> <span><img src="../../assets/img/login.jpg" /></span> <span class="example-spacer"></span>
  <button mat-mini-fab title="Iniciar sesión" class="iniciar-sesion">
    <mat-icon>login</mat-icon>
  </button> <button mat-mini-fab title="Cerrar sesión" class="cerrar-sesion">
    <mat-icon><img src="assets/img/logoutLogo.png" /></mat-icon>
  </button> </mat-toolbar>

<app-imagenes></app-imagenes>

<section class="w3l-footer-29-main" id="pie">
  <div class="footer-29 py-5">
    <div class="container py-lg-4">
      <div class="row footer-top-29">
        <div class="footer-list-29 col-lg-4 col-md-4 col-sm-12">
          <h5 class="footer-title-29">PNG</h5>
          <p class="pr-lg-5">
            Disfruta de tus imágenes favoritas con nuestra aplicación
          </p>
          <div class="main-social-footer-29 mt-4">
            <h6> Nuestras redes </h6>
            <ul>
              <li><img height="20px " src="../../assets/img/ico/facebook.png"><a href="https://es-es.facebook.com/"
                  target="_blank">Facebook</a></li>
              <li><img height="20px" src="../../assets/img/ico/instagram.png"><a href="https://www.instagram.com/?hl=es"
                  target="_blank">Instagram</a></li>
              <li><img height="20px" src="../../assets/img/ico/link.png"><a href="https://es.linkedin.com/"
                  target="_blank">Linkeding</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 footer-list-29 footer-2 mt-lg-0 mt-5">
          <ul>
            <h6 class="footer-title-29">Nuestra web</h6>
            <li><a href="index.html">Inicio</a></li>
            <li style="margin-top: 20px;"><a href="index.html#sub">imagenes</a></li>
            <li style="margin-top: 20px;"><a href="index.html#clients">favoritos</a></li>
            <li style="margin-top: 20px;"><a href="contact.html">Contacto</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 footer-list-29 footer-1 mt-lg-0 mt-5">
          <h6 class="footer-title-29">Contacto</h6>
          <ul>
            <li><iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3038.217412408214!2d-3.7016622843441325!3d40.40403417936672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42262d966e8961%3A0xf05fc44c1f20855b!2sC.%20de%20Sebasti%C3%A1n%20Herrera%2C%2015%2C%2028012%20Madrid!5e0!3m2!1ses!2ses!4v1640095577625!5m2!1ses!2ses"
                width="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe></li>
            <li>
              <p><span class="fa fa-map-marker"></span> C. de Sebastián Herrera, 15, 28012 Madrid</p>
            </li>
            <li><a href="915068918"><span class="fa fa-phone"></span> +(34)-915-06-89-18</a></li>
            <li><a href="mailto:fotogram.malaga@mail.com" class="mail">
                <span class="fa fa-envelope-open-o"></span>
                <h6 style="font-size: 16px;">fotogram.malaga@gmail.com</h6>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
