/* BOTONES */

button.icono {
  min-width: fit-content;
  max-width: none;
}

button:hover {
  box-shadow: 0px 2px #ffffff;
  background-position: center;
  transition: background 0.8s;
  background: #ffe1be center/15000%;
}

button.icono:hover {
  background: none;
  box-shadow: none;
}




.selected {
  color: white;
  border: 1px solid #000000;
  box-shadow: none;
  background-color: #ba0101;
  background-size: 100%;
  transition: background 0s;
}

button.icono.selected {
  background-color: white;
  border: none;
}

button.icono:focus {
  background-color: white;
  box-shadow: none;
}

.corazon {
  background-color: white;
  /* box-shadow: 0 0 20px 15px Crimson; */
  transition: 200ms all;
  color: crimson;
}

button:focus {
  color: white;
  box-shadow: 0px 2px 0px #c90a0a;
  background-color: #000000;
  color: #ffffff;
}


button:disabled {
  color: #BBBBBB;
  cursor: not-allowed;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 2px;
  /* Tipografía */
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  min-width: 150px;
  max-width: 150px
}

button.botonesFormulario {
  margin: 0 .3em;
}


.block {
  display: block;
  width: 100%;
  height: 48px;
  border: none;
  box-shadow: 0px 2px 0px #000000;
}


.large {
  display: inline-block;
  padding: 0px 32px 0px 32px;
  height: 48px;
  box-shadow: 0px 2px 0px #000000;
}


.secundario {
  background-color: #EEEEEE;
  color: #000000;
}

.error {
  border: 1px solid red !important;
}

.error-mensaje {
  font-size: x-small;
}

mat-card.card:hover {
  transform: scale(1.1);
  transition: 200ms all;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.75);
}

/*Para cuando salimos de la tarjeta, se anime al contrario*/
mat-card.card {
  transition: 200ms all;
  margin: .85em;
}

.fa-door-closed {
  font-size: 20px;
}
@import "node_modules/sweetalert2/src/sweetalert2";

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
}

label{
  font-size: 16px;
}

.same-width {
  width: 400px;
}

.custom-form-field {
  width: 300px;
  font-size: 10px;
  margin-top: 3px;
  margin-bottom: -1.25em;}
