<header id="site-header" class="fixed-top bg-warning">
  <div class="container">
    <nav class="navbar navbar-expand-lg stroke">
      <a class="navbar-brand" href="#index.html">
        <span><img id="logoHome" src="../../assets/img/login.jpg" /></span> <span class="example-spacer"></span>
      </a>
      <span class="example-spacer"></span>
      <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
        <span class="navbar-toggler-icon fa icon-close fa-times"></span>
      </button>
      <span class="example-spacer"></span>
      <div class="collapse navbar-collapse justify-content-around" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pie">Contacto</a>
          </li>
          <li>
            <button mat-mini-fab title="Iniciar sesión" class="iniciar-sesion" (click)="login()">
              <mat-icon>login</mat-icon>
            </button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!-- <mat-toolbar color="primary"> <span><img src="../../assets/img/login.jpg" /></span> <span class="example-spacer"></span>
  <button mat-mini-fab title="Iniciar sesión" class="iniciar-sesion">
    <mat-icon>login</mat-icon>
  </button>
   <button mat-mini-fab title="Cerrar sesión" class="cerrar-sesion">
     <mat-icon>directions_run</mat-icon>
    <span class="example-spacer"></span>
  </button>
</mat-toolbar> -->
<div class="container">
  <div class="row">
    <section class="col-6">
      <h1>PNG Comparte tus imágenes favoritas</h1>
      <p>.PNG es una red social visual. Disfrútala como una herramienta de descubrimiento visual, que puedes usar para
        encontrar ideas para tus proyectos e intereses. En la que podrás recopilar imágenes y almacenar tus preferidas
        por categorías. </p>
    </section>
    <section id="bloqueImagenes" class="col-6">
      <div class="row">
        <div class="card col-6" *ngFor="let imagen of imagenes"> <img mat-card-image [src]="imagen.rutaImagen"
            [alt]="imagen.titulo" />
          <div class="card-body">
            <h5 class="card-title">Titulo</h5>
            <p class="card-text">Categoria:</p>
            <p class="card-text">Likes: </p>
          </div>
        </div>
        <div class="card col-6" *ngFor="let imagen of imagenes"> <img mat-card-image [src]="imagen.rutaImagen"
            [alt]="imagen.titulo" />
          <div class="card-body">
            <h5 class="card-title">Titulo</h5>
            <p class="card-text">Categoria:</p>
            <p class="card-text">Likes: </p>
          </div>
        </div>
        <div class="card col-6" *ngFor="let imagen of imagenes"> <img mat-card-image [src]="imagen.rutaImagen"
            [alt]="imagen.titulo" />
          <div class="card-body">
            <h5 class="card-title">Titulo</h5>
            <p class="card-text">Categoria:</p>
            <p class="card-text">Likes: </p>
          </div>
        </div>
        <div class="card col-6" *ngFor="let imagen of imagenes"> <img mat-card-image [src]="imagen.rutaImagen"
            [alt]="imagen.titulo" />
          <div class="card-body">
            <h5 class="card-title">Titulo</h5>
            <p class="card-text">Categoria:</p>
            <p class="card-text">Likes: </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<app-footer></app-footer>
