<app-header></app-header>
<section class="container">
  <img src="../../assets/img/logoletras.jpeg" alt="PhotoNetGroup" class="mx-auto d-block" alt="Photo Net Group" />
  <h1>La red visual que te inspirará</h1>
  <p id="presentacion">
    <strong>PNG</strong> es una red social visual. ¡Disfrútala!, podrás
    recopilar imágenes y almacenar tus <br />
    preferidas por categorías, además puedes subir tus propias fotos. <br />
    Encontrarás ideas para tus proyectos e intereses y crear tu propio rincón de
    inspiración. <br />
    ¡Aquí tenéis una muestra, entrad para poder empezar!
  </p>
</section>
<section class="container">
  <div class="camera">
    <div class="bt"></div>
    <div class="corpo"></div>
    <div class="base"></div>
    <div class="foto"></div>
    <div class="lente"></div>
    <div class="visor"></div>
    <div class="bt2"></div>
  </div>
  <div class="wrapper">
    <div class="item">
      <div class="polaroid">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/dXAhQuT.jpg" />
        <div class="caption">De escapada</div>
      </div>
    </div>

    <div class="item">
      <div class="polaroid">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/LZkivxR.jpg" />
        <div class="caption">Mañana veraniega</div>
      </div>
    </div>

    <div class="item">
      <div class="polaroid">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/hqcMtrF.jpg" />
        <div class="caption">Disfrutando el silencio</div>
      </div>
    </div>

    <div class="item">
      <div class="polaroid">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/l867sBU.jpg" />
        <div class="caption">Arcoíris de ciudad</div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
