<app-header></app-header>
<div class='container'>
  <h1><strong>PNG</strong> La red visual que te inspirará</h1>
  <p><strong>PNG</strong> es una red social visual. ¡Disfrútala!, podrás recopilar imágenes y almacenar tus
    preferidas
    por categorías. Además puedes subir tus fotos, asi podrás encontrar ideas para tus proyectos e intereses y crear
    tu
    propio rincón de inspiración.
  </p>
  <p>
    Aquí teneis una muestra, entrad para poder empezar!
  </p>

  <div class="row">
    <section class='col-lg-6'>
      <div class="camera">
        <div class="bt"></div>
        <div class="corpo"></div>
        <div class="base"></div>
        <div class="foto"></div>
        <div class="lente"></div>
        <div class="visor"></div>
        <div class="bt2"></div>
      </div>
    </section>
    <section class="col-lg-6">
      <div class="wrapper">

        <div class="item">
          <div class="polaroid"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/dXAhQuT.jpg">
            <div class="caption">De escapada</div>
          </div>
        </div>

        <div class="item">
          <div class="polaroid"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/LZkivxR.jpg">
            <div class="caption">Mañana veraniega</div>
          </div>
        </div>

        <div class="item">
          <div class="polaroid"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/hqcMtrF.jpg">
            <div class="caption">Disfrutando el silencio</div>
          </div>
        </div>

        <div class="item">
          <div class="polaroid"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/l867sBU.jpg">
            <div class="caption">Arcoiris de ciudad</div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer id="footer">
    <div class="row">
      <div class="col-4" style="justify-content: center;">
        <h3 id="subtitulo" class="pr-lg-5">
          Disfruta y comparte tus imágenes favoritas con <br> <b>Photo Net Group</b>
        </h3>
        <img id="logo" src="../../assets/img/logo2.jpeg" alt="Imagen logo PNG">
      </div>
      <div class="col-4" style="text-align: justify;">

        <ul class="footer-cat-links" id="listalinks">
          <li>
            <a routerLink="" (click)="me()"> <span>Imágenes</span></a>
          </li>
          <li>
            <a routerLink="" (click)="me()"><span>Favoritos</span></a>
          </li>
          <li>
            <a routerLink="" (click)="me2()"><span>Contacto</span></a>
          </li>
        </ul>
      </div>
      <div class="col-4" id="newsletter">
        <span>Localización</span> <br> <br>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14464.013727598489!2d-71.00875477187985!3d24.999999343810693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89451ab5034cb7ab%3A0xb600ecf3df7aca4d!2sTri%C3%A1ngulo%20de%20las%20Bermudas!5e0!3m2!1ses!2ses!4v1649150962729!5m2!1ses!2ses"
          width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe> <br> <br>

        <div class="social-links social-2">
          <a href="https://es-es.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href=""><i class="fab fa-linkedin-in"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
        </div>

        <div>
          <ul>
            <li class=" footer-cat-links">
              <i class="fa fa-location-dot fa-lg "></i>

              <a href="https://goo.gl/maps/x856kFYcXnFvcoCcA" id="direccion">
                &nbsp; Triángulo de las Bermudas, SN
              </a>

            </li>
            <li class=" footer-cat-links">
              <i class="fa fa-phone fa-lg "></i>

              <a href="5550113"> &nbsp; +(34) 555-01-13</a>

            </li>
            <li class=" footer-cat-links">
              <i class="fa fa-envelope-open-o fa-lg  "></i>

              <a href="mailto:photonetgroup@png.com" class=" mail " style="font-size: 17px">
                &nbsp; photonetgroup@png.com
              </a>

            </li>
          </ul>
        </div>
      </div>
      <div class="social-links social-1 col-6">
        <a href="https://es-es.facebook.com/" target="_blank"><i class="fab fa-facebook-f "></i></a>
        <a href="https://es.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://www.instagram.com/?hl=es" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div id="copyright">&copy; Todos los derechos reservados 2021-2022</div>
    <div id="owner">
      <span>
        Diseñado por Photo Net Group
      </span>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
