#logoHome {
  width: 4em;
}

*{
  background-color:aquamarine;
}

.camera {
	position: relative;
	height: 450px;
	width: 400px;
	left: 50%;
	margin-left: -200px;
	top: 40px;
}

.corpo{
	position: absolute;
	height: 200px;
	width: 300px;
	background: #eff303;
	top: 60px;
	left: 50%;
	margin-left: -150px;
}
.corpo::before{
	position: absolute;
	height: 2px;
	width: 300px;
	background: #FCB59A;
	top: 20px;
	left: 50%;
	margin-left: -150px;
	content: "";
}

.visor{
	position: absolute;
	height: 30px;
	width: 30px;
	background: #5D6169;
	border-radius: 3px;
	top: 95px;
	left: 286px;
	overflow: hidden;
}

.visor::before{
	position: absolute;
	height: 18px;
	width: 18px;
	background: white;
	opacity: 0.6;
	border-radius: 6px;
	top: 6px;
	left: 6px;
	content: "";
}
.visor::after{
	position: absolute;
	height: 50px;
	width: 50px;
	background: #45484F;
	opacity: 0.2;
	top: -83%;
	left: 10px;
	content: "";
	transform: rotate(45deg);
}
.base{
	position: absolute;
	height: 70px;
	width: 310px;
	background: #5D6169;
	top: 260px;
	left: 50%;
	margin-left: -155px;
}

.base::before{
	position: absolute;
	height: 10px;
	width: 220px;
	background: #717680;
	top: 20px;
	left: 50%;
	margin-left: -110px;
	content: "";
}

.lente{
	position: absolute;
	height: 110px;
	width: 110px;
	border-radius: 50%;
	background: #5D6169;
	top: 110px;
	left: 50%;
	margin-left: -55px;
}

.lente::before{
	position: absolute;
	height: 90px;
	width: 90px;
	border-radius: 50%;
	background: #3C424D;
	top: 10px;
	left: 50%;
	margin-left: -45px;
	content: "";
}

.lente::after{
	position: absolute;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background: white;
	opacity: 0.4;
	top: 20px;
	left: 50%;
	margin-left: -35px;
	content: "";
}

.bt{
	position: relative;
	height: 20px;
	width: 40px;
	background: #5D6169;
	top: 40px;
	left: 60px;
	animation: click 8s infinite;
}

@keyframes click {
	2% {transform: translateY(12px);}
	10% {transform: translateY(0);}
}

.bt2 {
	position: absolute;
	height: 30px;
	width: 30px;
	background: white;
	border-radius: 50%;
	top: 208px;
	left: 85px;
}

.bt2::before {
	position: absolute;
	height: 24px;
	width: 24px;
	background: #E34530;
	border-radius: 50%;
	top: 3px;
	left: 3px;
	content: "";
}

.foto{
	position: absolute;
	height: 2px;
	width: 180px;
	background: white;
	top: 284px;
	left: 110px;
	animation: photo 8s infinite;
}

.foto::before{
	position: absolute;
	height: 130px;
	width: 170px;
	background:url(https://db.tt/HmVhxQrB);
	top: 4px;
	left: 5px;
	opacity: 0;
	content: "";
	animation: revelar 8s infinite;
}

@keyframes photo{
	0% {height: 2px;}
	12% {height: 2px;}
	35% {height: 150px}
	100% {height: 150px;}
}
@keyframes revelar{
	0% {opacity: 0;}
	35% {opacity: 0;}
	100% {opacity: 1}

}



* {
  box-sizing: border-box;
}
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: #c5d8e6;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}
.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.2);
}
.caption {
  font-size: 1.125rem;
  text-align: center;
  line-height: 2em;
}
.item {
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}
