<header id="site-header" class="sticky-top bg-warning">
  <div class="container">
    <nav class="navbar navbar-expand-lg stroke ">
      <a class="navbar-brand" href="#index.html">
        <span><img id="logoHome" src="../../assets/img/login.jpg" /></span> <span class="example-spacer"></span>
      </a>
      <span class="example-spacer"></span>
      <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
        <span class="navbar-toggler-icon fa icon-close fa-times"></span>
      </button>
      <span class="example-spacer"></span>
      <div class="collapse navbar-collapse justify-content-around" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="imagenes">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Favoritos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pie">Contacto</a>
          </li>
          <li>
            <button mat-mini-fab title="Cerrar sesión" class="cerrar-sesion" (click)="logout()">
              <mat-icon>directions_run</mat-icon>
              <span class="example-spacer"></span>
            </button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<!-- CODIFO NUEVO JuAN LUIS-->

<div class="row">
  <div class="col-lg-4">
    <div class="text-center mb-5">
      <h3>Categorías</h3>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
      <div *ngFor="let categoria of categorias">
        <button  st pButton pRipple [label]="categoria.nombre" class="large secundario w-full mt-2" (click)="getImagenes()"></button>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="text-center mb-5">
      <h3>imagenPngPoject</h3>
    </div>

    <div class="row">
      <div class="card col-lg-4 col-md-6 col-xs-12" *ngFor="let imagen of imagenes"> <img mat-card-image
          [src]="imagen.rutaImagen" [alt]="imagen.titulo" />

        <div class="card-body">
          <h5 class="card-title">Titulo: {{imagen.titulo}}</h5>
          <p class="card-text">Categoria:</p>
          <p class="card-text">Likes: </p>
        </div>
      </div>
    </div>
    <div>
      <label for="title" class="block text-900 font-medium mb-2">Título</label>
      <input class="formTitle" id="title" placeholder="Escribe un título"/>
      <label for="descripcion" class="block text-900 font-medium mb-2">Descripción</label>
      <textarea id="descripcion" type="text" pInputText class="w-full mb-3" name="descripcion" maxlength="50"
        [(ngModel)]="imagenPngPoject.titulo"></textarea>



      

      <label for="imagenParaSubir" class="block text-900 font-medium mb-2">Imagen</label>
      <input id="imagenParaSubir" type="file" pInputText class="w-full mb-3" name="imagenParaSubir"
        (change)="elegidaImagen($event)" />

      <button label="Agregar producto" icon="pi pi-plus" class="w-full" (click)="addImagen()"></button>
    </div>
  </div>
</div>

<p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10000" acceptButtonStyleClass="p-button-primary"
  [rejectVisible]="false" acceptLabel="Aceptar"></p-confirmDialog>


<app-footer></app-footer>



<!--     <div *ngFor="let imagen of imagenes">
      <p-card [header]="ima.descripcion" [style]="{ width: '360px' }" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img [alt]="producto.descripcion" [src]="producto.imagenURL" />
        </ng-template> -->



<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
        <ng-template pTemplate="footer">
            <p-button label="Save" icon="pi pi-check"></p-button>
            <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
        </ng-template> -->
<!-- </p-card> -->
