<header id="site-header" class="sticky-top bg-warning">
  <div class="container">
    <nav class="navbar navbar-expand-lg stroke ">
      <a class="navbar-brand" href="#index.html">
        <span><img id="logoHome" src="../../assets/img/login.jpg" /></span> <span class="example-spacer"></span>
      </a>
      <span class="example-spacer"></span>
      <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
        <span class="navbar-toggler-icon fa icon-close fa-times"></span>
      </button>
      <span class="example-spacer"></span>
      <div class="collapse navbar-collapse justify-content-around" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="imagenes">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Favoritos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pie">Contacto</a>
          </li>
          <li>
            <button mat-mini-fab title="Cerrar sesión" class="cerrar-sesion" (click)="logout()">
              <mat-icon>directions_run</mat-icon>
              <span class="example-spacer"></span>
            </button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<!-- CODIFO NUEVO JuAN LUIS-->

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="text-center mb-5">
        <h3>Categorías</h3>
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12">
        <div *ngFor="let categoria of categorias">
          <button st pButton pRipple [label]="categoria.nombre" class="large secundario w-full mt-2"
            (click)="getImagenes(categoria)"></button>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="text-center mb-5">
        <h3>imagen</h3>
      </div>

      <div class="row">
        <mat-card class="card col-lg-4 col-md-6 col-xs-12" *ngFor="let imagen of imagenes">
          <mat-card-header>
            <mat-card-title>{{imagen.titulo}}</mat-card-title>
            <mat-card-subtitle>{{nombreCategoria}}</mat-card-subtitle>
          </mat-card-header><img mat-card-image class="img-fluid mx-0" [src]="imagen.rutaImagen"
            [alt]="imagen.descripcion">
          <mat-card-content>
            <p>{{imagen.descripcion}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>
              <mat-icon [class.corazon]="imagen.favorito" (click)="setFavorito(imagen)">
                favorite_border
              </mat-icon>
            </button>
            <button mat-button (click)="like(imagen)">
              <mat-icon class="fa fa-thumbs-up">
              </mat-icon>{{imagen.contadorLikes}}
            </button>
            <button mat-button (click)="eliminarImagenFirebase(imagen)">
              <mat-icon class="fa fa-trash">
              </mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
        <!-- <br>
        <mat-card>
          <mat-card-title>Actions Buttons</mat-card-title>
          <mat-card-subtitle>End</mat-card-subtitle>
          <mat-card-actions align="end">
            <button mat-button>Like</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card> -->
        <!-- <div class="card col-lg-4 col-md-6 col-xs-12" *ngFor="let imagen of imagenes">

          <img mat-card-image [src]="imagen.rutaImagen" [alt]="imagen.titulo">
          <mat-icon class="corazon" classList="fa-thumbs-down" (click)="myFunction2(this)">favorite_border</mat-icon> -->
        <!-- <i onclick="" class="fa-solid fa-square-heart"></i>
        <fa-icon [icon]="faCoffee" (click)="myFunction2(this)"></fa-icon> -->

        <!-- <div class="card-body">
            <h5 class="card-title">Titulo: {{imagen.titulo}}</h5>
            <p class="card-text">Categoria:{{nombreCategoria}}</p>
            <p class="card-text">Likes: {{imagen.contadorLikes}}</p>
            <p class="card-text">Descripción: {{imagen.descripcion}}</p>
          </div> -->
      </div>
    </div>
    <div>
      <label for="title" class="block text-900 font-medium mb-2">Título</label>
      <input class="formTitle" id="titulo" [(ngModel)]="imagen.titulo" placeholder="Titula tu imagen" />
      <label for="descripcion" class="block text-900 font-medium mb-2">Descripción</label>
      <textarea id="descripcion" type="text" pInputText class="w-full mb-3" name="descripcion" maxlength="50"
        [(ngModel)]="imagen.descripcion"></textarea>
      <br>
      <label for="inputCategorias">Categorías</label>
      <div id="inputCategorias">
        <button st pButton pRipple *ngFor="let categoria of categorias" [label]="categoria.nombre"
          class="large secundario w-full mt-2" [class.selected]="categoria.selected"
          (click)="eligeCategoria(categoria)"></button>
      </div>

      <label for="imagenParaSubir" class="block text-900 font-medium mb-2">Imagen</label>
      <input id="imagenParaSubir" type="file" pInputText class="w-full mb-3" name="imagenParaSubir"
        (change)="elegidaImagen($event)" />

      <button label="Agregar producto" icon="pi pi-plus" class="w-full" (click)="addImagen()">Agregar Imagen</button>
    </div>
  </div>
</div>

<p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10000" acceptButtonStyleClass="p-button-primary"
  [rejectVisible]="false" acceptLabel="Aceptar"></p-confirmDialog>


<app-footer></app-footer>




<!--     <div *ngFor="let imagen of imagenes">
      <p-card [header]="ima.descripcion" [style]="{ width: '360px' }" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img [alt]="producto.descripcion" [src]="producto.imagenURL" />
        </ng-template> -->



<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
        <ng-template pTemplate="footer">
            <p-button label="Save" icon="pi pi-check"></p-button>
            <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
        </ng-template> -->
<!-- </p-card> -->
